h1{
    color: #ff15ff;
    text-align: center;
    background-color:rgba(0,0,0,0.4);
}

h2{
    color: #ff15ff;
    text-align: center;
    background-color:rgba(0,0,0,0.4);
}

table{
    background-color: floralwhite
}
p{
    color: #4514ff
}

body{
    background-image: url(../images/k.jpg);
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: center;
}