h1{
    color: #ff15ff;
    text-align: center;
    background-color:rgba(0,0,0,0.4);
}

h2{
    color: #ff15ff;
    text-align: center;
    background-color:rgba(0,0,0,0.4);
}

h3{
    color: #ffff12;
}
p{
    color: #4514ff
}

body{
    background-image: url(../images/02.jpg);
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: right;
}